@model BookStore.Models.Author

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           First Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorFirst)
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorLast)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorId">Edit</a> |
    <a asp-controller="Home" asp-action="Authors">Back to List</a>
</div>
